# Dépendances
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
dist-ssr/
assets/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environnement / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE / Editeurs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
.DS_Store
Thumbs.db

# Diagnostic / Cache
.vite
*.tsbuildinfo
